#######################################################################
### Кодировка
#######################################################################
AddDefaultCharset UTF-8
#######################################################################

#######################################################################
### Костыль для избежания вторичной загрузки страницы
#######################################################################
RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
#######################################################################

#######################################################################
### Обработка 404 ошибки
#######################################################################
ErrorDocument 404 /?404
#######################################################################

#######################################################################
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#######################################################################

#######################################################################
### ЧПУ перенаправление
#######################################################################
# Для $_SERVER['REQUEST_URI'] #
RewriteRule ^(.*)$ index.php [L,QSA]
#######################################################################
# Для $_GET['_URI'] #
#RewriteRule ^(.*)$ index.php?r=$1 [L,QSA]
